.alert-box {
    position: relative;
    color:#FFFFFF;
    border-radius:10px;
    padding:0.5em;
    padding-left: 4em;
    opacity: 0.8;
    width:15em;
    margin-top: 0.5em;
    z-index: 1;
}
.message{
    position: absolute;
    bottom: 1em;
    right: 1em;
    background: rgba(0,0,0,0);
    display: flex;
    flex-direction: column;
}
.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}
.toast__icon{
    position:absolute;
    top:50%;
    left:1em;
    transform:translateY(-50%);
    padding: 7px;
    height: 2em;
    width: 2em;
    border-radius:50%;
    display:inline-block;
}
.success {
    background:#77b576;
}
.success .toast__icon{
    fill:#77b576;
}
.success p{
    background:#77b576;
}
.success span{
    background:#77b576;
}
.wrong{
    background-color: #cb6058;
}
.wrong .toast__icon{
    fill:#cb6058;
}
.wrong p{
    background-color: #cb6058;
}
.wrong span{
    background-color: #cb6058;
}
