*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
    background-color: #F8F9FD;
    margin: 0;
}
.section{
    
    padding-top: 0;
    background-color: whitesmoke;
}

.container {       
    display: grid;
    padding: 6em;
    grid-template-rows: repeat(8,4em);
    grid-template-columns: 1fr 1fr 30% 20%;
    position: absolute;
    width: 100%;
    height: 100%;   
    z-index: 0; 
}

.bsa-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 1 /5;
    position: relative;   
    overflow: hidden;

}
.qa{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 /  2;
    grid-row: 5 /9;
    position: relative; 
    overflow: hidden;
}
.js{
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    grid-column: 2 / 3;
    grid-row: 1 / 7;
    position: relative;   
    overflow: hidden;
}
.java{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 3;
    grid-row: 7 /9;
    position: relative;
    overflow: hidden;
}
.php{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3 / 5;
    grid-row: 1 / 4;
position: relative;
overflow: hidden;
}
.dotnet{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column:3/4;
    grid-row:4/9;
    position: relative;
    overflow: hidden;
}
.info{
    grid-column: 4/5;
    grid-row:4/9;
    color: white;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.events{
    display: flex;
    height: 40%;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    
}
.contacts{
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: center;
    position: relative;
    justify-content: space-between;
    overflow: hidden;
}
.blog{
    display: flex;
    height: 40%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}  
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5em;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}