.js-non-hidden,
.js-hidden,
.dotnet-hidden,
.dotnet-non-hidden,
.php-hidden,
.php-nonhidden,
.java-hidden,
.java-non-hidden,
.events-hidden,
.events-non-hidden,
.blog-hidden,
.blog-non-hidden,
.contacts-hidden,
.contacts-non-hidden,
.php-hidden,
.php-non-hidden,
.qa-hidden,
.qa-non-hidden,
.logo-hidden,
.logo-non-hidden{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
    perspective: 1000px;
    background-color: #FFFFFF;
}
.js-non-hidden{ 
    font-size: 5em;
    font-weight: bold;
    background-color: #F6CF68; 
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 1;
}
.js-hidden{
   font-size: 1em;
   transform: rotateY(180deg);
   align-items: flex-start;
   justify-content: flex-start;
   font-weight: bold;
}
.js:hover .js-non-hidden{
    transform: rotateY(180deg);
}
.js:hover .js-hidden{
    transform: rotateY(360deg);
}
.dotnet-non-hidden{
    font-size: 5em;
    color:white;
    background-color: #642077; 
    z-index: 1;   
}

.dotnet:hover .dotnet-non-hidden{
    transform: translate3d(6em,2.5em,-1em);
}
.dotnet:hover .dotnet-hidden{
    transform: rotateX(360deg);
}
.java-non-hidden{
    background-color: #db5248;
    color: white;
    font-size: 3em;
    z-index: 1;
}
.java:hover .java-non-hidden{
    transform: translateY(20em);
}
.java:hover .java-hidden{
    transform: rotate3d(-1,1,0,360deg);
}
.events-non-hidden{
    background-color: #2D99FE;
    z-index: 1;
}
.blog-non-hidden{
    background-color:#0443A4;
    z-index: 1;
}
.contacts-non-hidden{
    background-color: #00265F;
    z-index: 1;
}

.php-hidden,
.qa-hidden,
.java-hidden,
.dotnet-hidden{
    align-items: flex-start;
    justify-content: flex-start;
    transform: rotateX(180deg);
    color:black;
    font-weight: bold;
    font-size: 1em;
}
.events-hidden,
.blog-hidden,
.contacts-hidden{
    align-items: center;
    justify-content: center;
    color:black;
    font-weight: bold;
    font-size: 1em;
}
.events-hidden{
    align-items: flex-start;
    overflow-y: scroll;
}
.events:hover .events-non-hidden,
.blog:hover .blog-non-hidden,
.contacts:hover .contacts-non-hidden{
    transform: translateX(20em);
}

.php-non-hidden{
    background-color: #8893C0;
    font-size: 5em;
    font-style: italic;
    z-index: 1;

}
.php:hover .php-non-hidden{
    transform: translate3d(6em,-2.5em,-1em);

}
.php:hover .php-hidden{
    transform: rotateX(360deg);
}
.qa-non-hidden{
    color:white;
    background-color: #51BF76;
    font-size: 5em;
    z-index: 1;
}

.qa:hover .qa-non-hidden{
    transform: rotateY(180deg);
}
.qa:hover .qa-hidden{
    transform: rotate(360deg);

}
.logo-non-hidden{
    background-color: #FFFFFF;
    z-index: 1;

}
.logo-hidden{
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    width: 30%;
    height: 15%;
    font-size: 16px;
    border-radius: 4px;
    transform: rotateY(180deg);
    background-color: #2D99FE;
}
.logo-hidden:hover{
    background-color: #00265F;
    cursor: pointer;
    border: none;
}
.bsa-logo:hover .logo-non-hidden{
    transform: rotateY(180deg);
}
.bsa-logo:hover .logo-hidden{
    transform: rotate(360deg);
}

.svg:hover{
    cursor: pointer;
    fill:#2D99FE;
}

