header{
    position: fixed;
    width:100%;
    left: 0px;
    height: 5em;
    display: flex;
    align-items: center;
    animation: 1s header;
    background-color: #FFFFFF;  
    z-index: 1;  
}
@keyframes header{
    from{
        top:-10em;
    }
    to{
        top:0;
    }
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-bell{
    height: 3em;
    border: none;
    background-color: #FFFFFF;
}
.bell{
    position:absolute;
    top:-1em;
    right:2em;
    display: flex;
    background-color: #FFFFFF;

}
.fa-bell{    
    color:#cccaca;
}
.fa-bell:hover{
    cursor: pointer;
    color:#abaaaa;
}
.logo{
    height: 3em;
    padding-left: 6em;
    background-color: #FFFFFF;
}