@media screen and (max-width:976px){
    .container{
        display: grid;
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: repeat(12, 8%)
    }
    .bsa-logo{
        grid-column: 1/6;
        grid-row: 1/3;
    }
    .js{
        grid-row: 1/3;
        grid-column: 6/10;
    }
    .info{
        grid-row: 1/3;
        grid-column: 10/13;
    }
    .java{
        grid-row: 3/4;
        grid-column: 1/7;
    }
    .php{
        grid-row:3/4;
        grid-column: 7/13;
    }
    .qa{
        grid-row: 4/5;
        grid-column: 1/7;
    }
    .dotnet{
        grid-row: 4/5;
        grid-column: 7/13;
    }   
    .menu{
        padding-right: 2.5em;
    }
    .bell{
        padding-right: 2em;
    }
}
