.menu{ 
    width:1em;
    position: absolute;
    right:6em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropdown{
    position: absolute;
    top:2em; 
    right:1em;

    min-width: 10em;
    border-radius: 2px;
    padding: 1em;
    margin: 0em;

    background-color: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}
.menu ul{
    padding: 0;
}
.menu li{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #FFFFFF;
    padding:0.5em 0.5em 0 0;
}
.user-name{
    color:grey;
    padding: 0em;
    background-color: #FFFFFF;
    text-align: center;
}
.menu a{
    color: #000;
    text-decoration: none;
    background-color: #FFFFFF;
}
.menu li:hover{
    background-color: #F8F9FD;
    cursor: pointer;
}
.menu #avatar:checked~.dropdown{
    opacity: 1;
    pointer-events: all;
}
.menu-label {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #f7991c;
    border-radius: 50%;
    color:#FFFFFF;
    font-size: 1em;
    top:-1em;
}
.menu-label:hover{
    background: #e48c1a;
}
#avatar{
    position: absolute;
    visibility: hidden;
}
.exit{
    padding: 0 0.5em 0.5em 0;
}
.setting{
    padding-top: 0.5em;
}